/* @media screen and (max-width: 600px) {
    .brand-logo {
        display: none !important;
    }
}

@media screen and (min-width: 600px) {
    .brand-logo {
        display: flex !important;
        align-items: center !important;
        justify-content: flex-start !important;
        font-family: 'Bebas Neue' !important;
        color: #C1272D !important;
        letter-spacing: 2px;
      }
} */

.brand-logo {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    font-family: 'Bebas Neue' !important;
    color: #C1272D !important;
    letter-spacing: 2px;
  }

@media screen and (min-width: 600px) {
    .wrap {
        font-size: 20px !important;
      }
}

.bg-hijau {
    background: rgba(57, 181, 74, 0.3);
    background-repeat: no-repeat;
    background-size: cover;
}

.wrap {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  padding: 10px;
  font-size: 15px;
}

.text-nav {
    font-family: 'Fira Sans';
    color: #000000 !important;
    font-size: 20px;
}

.transparent {
    box-shadow:none !important;
}

@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue-Regular.ttf);
    }

@font-face {
    font-family: "Fira Sans";
    src: url(../fonts/FiraSans-Regular.ttf);
    }

@font-face {
    font-family: "Playfair Display Bold";
    src: url(../fonts/PlayfairDisplay-Bold.ttf);
    }

@font-face {
    font-family: "Playfair Display";
    src: url(../fonts/PlayfairDisplay-Regular.ttf);
    }

.font-bebas {
    font-family: 'Bebas Neue';
    letter-spacing: 2px;
    color: #C1272D;
}

.font-fira {
    font-family: 'Fira Sans';
}

.font-playfair-bold {
    font-family: 'Playfair Display Bold';
}

.font-playfair {
    font-family: 'Playfair Display';
}

.vertical-middle {
    vertical-align: middle;
}

.row1 {
    min-height: 100vh !important;
}