@font-face {
    font-family: "Bebas Neue";
    src: url(../fonts/BebasNeue-Regular.ttf);
    }

@font-face {
    font-family: "Fira Sans";
    src: url(../fonts/FiraSans-Regular.ttf);
    }

.brand-logo {
    display: flex !important;
    align-items: center !important;
    justify-content: flex-start !important;
    font-family: 'Bebas Neue' !important;
    color: #C1272D !important;
  }

.vertical-align {
    vertical-align: middle;
}

.button-join {
  border: 2px solid #C1272D;
  background-color: white;
  color: #C1272D;
  padding: 5px 50px;
  font-size: 30px;
  font-family: 'Bebas Neue';
  cursor: pointer;
  border-color: #f44336;
  border-radius: 50px;
  margin-bottom: 30px;
}

.button-join:focus{
    background-color: white !important;
}

.font-bebas {
    font-family: 'Bebas Neue';
    color: #C1272D;
}

.font-fira {
    font-family: 'Fira Sans';
}

.text-nav {
    font-family: 'Fira Sans';
    color: #000000 !important;
    font-size: 20px;
}

.bg-atas {
    background: rgba(57, 181, 74, 0.5)
}

.transparent {
    box-shadow:none !important;
}

#our-jobs {
    border: 2px solid #C1272D;
    background-color: white;
    color: #C1272D;
    padding: 0px 10px;
    font-size: 30px;
    font-family: 'Bebas Neue';
    border-color: #f44336;
    margin-bottom: 30px;
}

.wrap {
  display: flex;
}

.wrap1 {

}

.wrap2 {
    margin-left: auto;
}

#tombol-tambah {
    border: 2px solid #22B573;
    background-color: white;
    color: #22B573;
    padding: 0px 15px;
    border-color: #22B573;
    font-family: 'Fira Sans';
    border-radius: 50%;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.card {
    border-radius: 10% !important;
}

.button-take {
  background-color:#C1272D;
  color: white;
  padding: 5px 30px;
  font-size: 15px;
  font-family: 'Fira Sans';
  cursor: pointer;
  border-radius: 50px;
  text-align: center;
}