@media screen and (min-width: 600px) {
    .valign-wrapper2 {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        }
}

@media only screen and (max-width: 768px) {
    .card {
        margin-top: 30px !important;
    }
  }


.tombol-fb {
    border: solid 2px blue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 27px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Fira Sans';
    background-color: white;
    cursor: pointer;
}

.tombol-tw {
    border: solid 2px skyblue;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Fira Sans';
    background-color: white;
    cursor: pointer;
}

.tombol-gg {
    border: solid 2px red;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Fira Sans';
    background-color: white;
    cursor: pointer;
}

.tombol-gt {
    border: solid 2px black;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    font-family: 'Fira Sans';
    background-color: white;
    cursor: pointer;
}

.card {
    border-radius: 10px;
}